[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
typogrify = "*"
beautifulsoup4 = "*"
cssutils = "*"
pillow = "*"
pysvg-py3 = "*"
disqus-python = "*"
awscliv2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
