{% extends "base.html" %}

{% block title %}
{{ article.title }} - {{ SITENAME }}
{% endblock %}

{% block metadata %}
<meta name='description' content='{{ article.summary|striptags }}'>
<meta name="keywords" content="{% for tag in article.tags %}
 {% if loop.last %}
 {{ tag }}
 {% else %}
 {{ tag }},
 {% endif %}
 {% endfor %}">
<link rel='canonical' href='{{ SITEURL }}/{{ article.url }}'>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }} - {{ SITENAME }}" />
<meta property="og:description" content='{{ article.summary|striptags }}' />
<meta property="og:image" content="{{ SITEURL }}/images/devoops_og.png" />
<meta property="og:image:url" content="{{ SITEURL }}/images/devoops_og.png" />
<meta property="og:image:secure_url" content="{{ SITEURL }}/images/devoops_og.png" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:site_name" content="{{ SITENAME }}" />
<meta property="article:publisher" content="{{ SITEURL }}" />
<meta property="article:section" content="{{ category }}" />
<meta property="article:tag" content="{{ category }}" />
{% endblock %}

{% block content %}
<div class="article">
    <div class="cover">
        <img src="{{ article.cover_image_url }}" alt="Cover image">
    </div>
    <h1>{{ article.title }}</h1>
    <small>published {{ article.date.strftime('%d/%m/%Y') }} in <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></small>
    <small>| tags : </small>
    {% for tag in article.tags %}
    {% if loop.last %}
    <span class="tag"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
    {% else %}
    <span class="tag"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>,</span>
    {% endif %}
    {% endfor %}
    {% if article.readtime %}
    <span><p style="text-align:right; color:#aaaaaa; ">&nbsp Estimated read time: {{ article.readtime.minutes }} min.</p></span>
    {% endif %}
    <div class="article-content">
        {{ article.content }}
        {% if article.photo_gallery %}
<div class="gallery">
    {% for title, gallery in article.photo_gallery %}
        <h1>{{ title }}</h1>
            {% for name, photo, thumb, exif, caption in gallery %}
                    <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
            {% endfor %}
    {% endfor %}
</div>
{% endif %}
    </div>
</div>

{% endblock %}

{% block comments %}
<div class="comments">
    <script src="https://utteranc.es/client.js"
            repo="mcgillij/comments"
            issue-term="pathname"
            label="✨💬✨ comment"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
</div>
{% endblock %}

{% block side %}
{{ super() }}
{% if article.toc %}
<div class="widget">
    <nav class="toc">
        {{ article.toc }}
    </nav>
</div>
{% endif %}
{% endblock %}
