{% extends "base.html" %}

{% block metadata %}
<meta name="description" content="Get OFF MY LAWN! All things open source, linux and gaming">
<link rel="canonical" href="{{ SITEURL }}">
<meta name="keywords" content="Linux, OpenSource, Games, Python, Arch">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:image" content="{{ SITEURL }}/images/devoops_og.png" />
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:description" content='Get OFF MY LAWN! All things open source, linux and gaming' />
<meta property="og:image:url" content="{{ SITEURL }}/images/devoops_og.png" />
<meta property="og:image:secure_url" content="{{ SITEURL }}/images/devoops_og.png" />
<meta property="og:site_name" content="{{ SITENAME }}" />
{% endblock %}

{% block content %}
    {% if articles %}
        {% for article in articles %}
            <div class="article-index">
                <div class="grid grid-pad">
                    <div class="col-8-12">
                        <h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
                        published on 📅 {{ article.date.strftime('%d/%m/%Y') }}
                        <small>| tags : </small>{% for tag in article.tags %}
                            {% if loop.last %}
                                <span class="tag"><a href="{{ SITEURL}}/{{ tag.url }}">{{ tag }}</a></span>
                            {% else %}
                               <span class="tag"><a href="{{ SITEURL}}/{{ tag.url }}">{{ tag }}</a>,</span>
                            {% endif %}
                        {% endfor %}
                        {{ article.summary }}
                    </div>
                    <div class="col-4-12">
                        <img src="{{ SITEURL }}/icons/{{ article.category }}.png">
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
