body {
    background-color: #282a36;
    color: #f8f8f2;
}

a {
    text-decoration: none;
    color: #ffb86c;
}

strong {
    color: #50fa7b;
}

a:visited {
    text-decoration: none;
    color: #ff5555;
}

a:hover {
    text-decoration: underline;
}

.header {
    background-color: #282a36;

    font-size: 1.143em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px 0 15px 0;
}

.cover img {
    max-width: 800px;
    width: 100%;
    height: auto;
}

#navigation {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

#navigation li {
    display: inline;
    margin:0 auto;
    float: left;
    padding: 3px;
}

#navigation li a {
    background-color: #44475a;
    text-decoration: none;
    color: #eceff4;
    padding: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#navigation li a:hover{
    background-color: #a3be8c;
    color: #2e3440;
}

.group {
    display: inline-block;
}

#content {
    margin-top: 20px;
}

#side {
    display:block;
    padding-left: 10px;
}

#side h2 {
    padding:0;
    margin:0;
    font-size: 15px;
}

#side.widget.ul {
    list-style: none;
}

.widget {
    background-color: #44475a;
    padding:5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article img {
    max-width:800px;
    height: auto;
}

.article-index {
    padding-bottom: 10px;
    background-color: #44475a;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article-index h3 {
    font-size: 25px;
    padding:0;
    margin:0;
    margin-bottom: 3px;
}

.article-index a {
    text-decoration: none;
    color: #ffb86c;
}

.article-index a:hover{
    text-decoration: underline;
}

.cat-list {
    list-style: none;
}

.bigger {
    font-size: 42px;
}

.tag {
    color: #1E67CE;
    font-size: 13px;
}

.footer {
    background-color: #3b4252;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.list-label {
    padding:0;
    margin:0;
    margin-top: 10px;
}

.label {
    margin-left: 20px;
    background-color: #d8dee9;
    padding:7px;
    border-radius: 25px;
}

.cat-link {
    border-bottom: 1px dashed #a3be8c;
    padding-bottom:5px;
    padding-top: 5px;
}

.article {
    font-size: 20px;
    padding: 20px;
    background-color: #44475a;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article h1 {
    padding:0;
    margin:0;
}

.article-content {
    color: #f8f8f2;
    overflow: hidden;
}

.article-content h2 {
    color: #8be9fd;
}

.highlight {
    padding: 10px;
    border-radius: 10px;
}

table { margin-bottom: 25px; width: 200; text-align: left; color: #3b4252; border-collapse: collapse; border: 1px solid #4c566a; }
table tr:nth-child(even) { background-color: #eceff4; }
table tr:nth-child(odd) { background-color: #8be9fd; }
table th, table td { padding: 9px 12.5px; }
table th { background-color: #e5e9f0; border: 1px solid #4c566a; }
table td { border: 1px solid #4c566a; }

ul.tagcloud {
    list-style: none;
    padding: 5px;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 200%;
    padding: 5px;
}

li.tag-2 {
    font-size: 150%;
    padding: 5px;
}

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}
